<h1>Topページ</h1>

<%= link_to t('.logout'), destroy_user_session_path, data: {turbo_method: :delete} %>
<%= link_to "マイページ", user_path(current_user) %>
<%= link_to "編集ページ", edit_user_path(current_user) %>
<%= link_to 'アドリアル一覧', user_advrials_path(current_user) %>
