<h3 class="text-xl my-1"><%=t('.info') %></h2>
<div class="border border-slate-500 border-dotted py-1 px-2 w-full">
  <p>まだお知らせはありません</p>
</div>

<div class="border py-1 px-2 w-full my-4">
  <p class="text-gray-400">タイムライン追加予定</p>
</div>